.main-wrapper {
    width: 95%;
    height: 100%;
}

.positronx {
    text-decoration: none;
    color: #ffffff;
}

.box {
    opacity: 1;
    padding: 60px 50px 40px 50px;
    background: #fff;
    border-radius: 10px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 5;
}

.main-wrapper .mat-card {
    padding: 45px 70px 55px;
}

.main-wrapper mat-card-header {
    text-align: center;
    width: 100%;
    display: block;
    font-weight: 700;
}

.main-wrapper .auth-form {
    min-width: 100%;
    width: 100%;
}

.main-wrapper .auth-full-width,
.main-wrapper .btn-block {
    width: 100%;
}
.logo-1 {
    width: 100px;
}

.main-wrapper mat-card-header mat-card-title {
    font-size: 30px;
    margin: 0;
}

.main-wrapper .mat-raised-button {
    line-height: 54px;
}

.main-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.8375em 0;
}

.padre {
    text-align: center;
}